body {
  margin: 0;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: grid;
  width: 200px;
  grid-template-columns: 50px 50px 50px 50px;
  /* grid-template-rows:  50px 50px 50px 50px  */
  grid-auto-rows: 50px;
  color: white;
  background: hsl(0, 0%, 50%);
  border-radius: 5px;
  font-size: 17px;
}

.box {
  padding: 5px;
  display: flex;
}

.text {
  margin: auto 10px auto auto;
}

.box1 {
  background: hsl(0, 0%, 30%);
  grid-column: 1/5;
  grid-row: 1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: right;
}

.dark {
  background: hsl(0, 0%, 40%);
}

.box18 {
  grid-column: 1/3;
  border-bottom-left-radius: 5px;
}

.box20 {
  border-bottom-right-radius: 5px;
}